doctype
html
	head
		title= "Ghettoest real time web chat"
		script(src='/login.js')
	body
		.controls
			| Login: 
			input#username(style='width:350px;')
			input#login(type='button', value='login')